* {
  box-sizing: border-box;
  /* border: 1px solid royalblue; */
}

body {
  color: black;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.17em;
  /* background-size: cover;  background-image: linear-gradient(#3d6c8e,#96333b ); */
}

.thin-content ul {
  margin: 0px 0px 20px 0px;
  list-style-position: inside;
  padding-left: 0;
}

@media only screen and (max-width: 918px) {
  .section {
    width: 100% !important;
    border-bottom: 1px solid black;
    border-left: 0px solid transparent !important;
    border-top: 0px solid transparent !important;
  }
  .col-2 {
    display: block !important;
  }
  .right-content {
    border-left: none !important;
  }
}

@media only screen and (max-width: 638px) {
  .content {
    padding: 0px 10px 5px 10px !important;
  }
  header {
    margin: 30px 10px 20px 10px !important;
  }
  .subheading {
    display: block !important;
    line-height: normal !important;
  }

  .subheading .hide {
    display: none;
  }
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

figcaption {
  font-style: italic;
  font-size: .85em;
}

h2, h1 {
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.content {
  width: 100%;
  padding: 0px 50px 5px 50px;
}

header {
  text-align: center;
  margin: 30px 50px 20px 50px;
}

.hide {
  color: transparent;
  background-color: transparent;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subheading {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  border-top: 4px double black;
  border-bottom: 4px double black;
  font-weight: normal;
  line-height: 0em;
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section {
  padding: 0px 20px 10px 20px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 5px;
}

table .stage {
  text-align: center;
  width: 100px;
}

.symptom img {
  height: 50px;
  margin: 10px 10px 10px 0px;
}

.symptom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section h2 {
  text-align: center;
}

.col-2 {
  display: flex;
}

.left-content {
  width: 74%;
}

.video {
  float: right;
}

.symptoms {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thin-content {
  width: 26%;
  /* height: 100%; */
}

.right {
  border-left: 1px solid black;
}

.references p{
  text-indent: -2em;
  margin-left: 3em;
}