* {
  box-sizing: border-box;
  overflow-x: hidden;

  /* border: 1px solid royalblue; */
}

body {
  color: black;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.17em;
  /* background-size: cover;  background-image: linear-gradient(#3d6c8e,#96333b ); */
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center img {
  width: 100%;
}

figcaption {
  font-style: italic;
  font-size: .85em;
}

h2, h1 {
  text-transform: uppercase;
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  padding: 0px 50px 5px 50px;
  columns: 4;
}

header {
  text-align: center;
  margin: 30px 50px 20px 50px;
}

.hide {
  color: transparent;
  background-color: transparent;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subheading {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  border-top: 4px double black;
  border-bottom: 4px double black;
  font-weight: normal;
}

.subheading h4 {
  margin: 4px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 5px;
}

table .stage {
  text-align: center;
  width: 100px;
}

.symptom img {
  height: 50px;
  margin: 10px 10px 10px 0px;
}

.symptom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section h2 {
  text-align: center;
}

.col-2 {
  display: flex;
}

.left-content {
  width: 74%;
}

.vid {
  display: flex;
  margin: 10px;
}

.video {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 336;
  height: 195;
}

.symptoms {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.references p{
  text-indent: -2em;
  margin-left: 3em;
}