* {
  box-sizing: border-box;
}

body {
  color: black;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* background-size: cover;  background-image: linear-gradient(#3d6c8e,#96333b ); */
}

h2, h1 {
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.content {
  width: 100%;
  padding: 0px 50px 5px 50px;
}

.left-content img {
  float: left;
  width: 150px;
}

header {
  text-align: center;
  margin: 50px;
  border-top: 2px solid black; 
  border-bottom: 7px solid black; 
}

.border-div {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

p {
  font-family: 'Oswald', sans-serif;
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section {
  padding: 10px;
}

.section h2 {
  text-align: center;
}

.col-2 {
  display: flex;
}
.left-content {
  width: 70%;
}
.right-content {
  border-left: 1px solid black;
}